doctype html
html
    head
        title Member Bookmarks
        style
            include style.css

        link(href="https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&display=swap" rel="stylesheet")
        //- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css')
    body
        //- header section, includes title + nave
        .header
            h1 Web Organizer
                ul
                    li
                        a.home-link(href='/members') home
                    li
                        a.logout-link(href='/logout' id='logout') logout

        //- search + add new category 
        .categorySearch-div
            //-button to search through categories
            
            button(type="button" class="categoryDropdown button" id="categoryDropdown") Select Category
                ul#dropdown
                    each bookmark in bookmarks
                        - let i= 0
                        li(class='bookmarkCategory' data-id= bookmark[i].category)= bookmark[i].category

            //-button to add Bookmark
            button(type="button" class="addBookmark button" data-modal-target="#bookmarkModal") &#10133; Add Bookmark
            .modal(id='bookmarkModal') 
                .modal-header
                    .title Add Bookmark
                    button.close-button(data-close-button) &times;
                .modal-body 
                    form(action='/api/bookmarks' method="POST" class='bookmark-form')
                        label(for='bookmark-input') Enter Category:
                        input(type='text' id='bookmark-category')

                        label(for='bookmark-input') Enter Keywords:
                        input(type='text' id='bookmark-keyword')

                        label(for='bookmark-input') Enter URL:
                        input(type='text' id='bookmark-url')
                            
                        input(id="add-bookmark" type="submit" value="submit" class="submit-button")
            #overlay

        //- categories will display here
        .category-view
            //- TODO: make this link to the database to pull information.\
            //- -const bookmarks = bookmarks 
            //- .category-div
            //-     .bookmark-div
            //- -console.log(bookmarks)
            
            each category in categories
                .category-div
                    h3= category
                    //-  -console.log(bookmark.category)
                    each bookmark in bookmarks[category]
                        .bookmark-div
                            button.delete-button(data-id= bookmark.id) &times;
                            //- - console.log(bookmark.id)
                            a(href= bookmark.url target='_blank')= bookmark.url
                            button.keyword= bookmark.keyword
        //- footer 
        .footer 
            h4 &copy; Clever Foxes

        //- links to javascript files & jquery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/assets/js/frontEnd/modals.js')
        script(src='/assets/js/frontEnd/dropdown.js')
        script(src='/assets/js/frontEnd/addBookmark.js')
        script(src='../assets/js/members.js')

            //- - const dummyCategories = ['tutorials', 'links', 'videos', 'test', 'test', 'test']
            //- each n in dummyCategories
            //-     .category-div
                    h3= n==